body{
  font-size: 14px !important;
  line-height: 17px !important;
  font-style: normal;
  font-weight: normal;
}
.v-main-page {
  max-width: 1920px;
}
.v-application {
  font-family: $body-font-family;
  line-height: 17px;

}
.v-toolbar__title {
  font-size: 14px !important;
  line-height: 17px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v-toolbar__content, .v-toolbar__extension {
height: 127px !important;
}
header{
    height: 140px !important;
}
.col{
  padding: 0;
}

.my-next{
  position: absolute;
  top: 90px;
  right: -49px;
  font-size: 49px;
}
.my-prev{
  position: absolute;
  top: 90px;
  left: -49px;
  font-size: 49px;
}
.btn-send{
  position: relative;
  bottom: 0;
  left: -34px;
  width: 177px;
  height: 45px;
  background: #D7B256;
  border-radius: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
}
input, textarea{
  background: #FFFFFF;
  border: 1px solid #797979;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
