body{
  font-size: 14px !important;
  line-height: 17px !important;
  font-style: normal;
  font-weight: normal;
}
.v-main-page {
  max-width: 1920px;
}
.v-application {
  font-family: $body-font-family;
  line-height: 17px;

}
.v-toolbar__title {
  font-size: 14px !important;
  line-height: 17px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v-toolbar__content, .v-toolbar__extension {
height: 127px !important;
}
header{
    height: 140px !important;
}
.col{
  padding: 0;
}

