@import "variables";
@import "normalize";
@import "general";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@font-face {font-family: "Muller"; src: url("../../assets/fonts/muller/MullerRegular.ttf");}
@font-face {font-family: "Akzidenz-Grotesk Pro"; src: url("../../assets/fonts/11928.ttf")}
