@import "variables";
@import "normalize";
@import "general";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@font-face {font-family: "MullerW00-Regular"; src: url("//db.onlinewebfonts.com/t/daf2f572726b3bd31ae892672a2d2015.eot"); src: url("//db.onlinewebfonts.com/t/daf2f572726b3bd31ae892672a2d2015.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/daf2f572726b3bd31ae892672a2d2015.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/daf2f572726b3bd31ae892672a2d2015.woff") format("woff"), url("//db.onlinewebfonts.com/t/daf2f572726b3bd31ae892672a2d2015.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/daf2f572726b3bd31ae892672a2d2015.svg#MullerW00-Regular") format("svg"); }
@font-face {font-family: "Akzidenz-Grotesk Pro"; src: url("../../assets/fonts/11928.ttf")}
